$global-scroll-background: var(--global-scroll-background);
$global-scroll-slider-color: var(--global-scroll-slider-color);

::ng-deep *:has(> .v-floating-scroll):hover {
  .v-floating-scroll,
  .h-floating-scroll {
    opacity: 1 !important;
  }
}

::ng-deep ngx-schedule-planner {
  * {
    scrollbar-color: $global-scroll-slider-color $global-scroll-background;
    scrollbar-width: thin;
  }

  .floating-scroll {
    transition: opacity 0.5s ease 0s;
    position: absolute;
    display: block;
    overflow: auto;
    opacity: 0.3;
    z-index: 5;

    span {
      display: block;
      width: 1px;
      height: 1px;
    }
  }

  .v-floating-scroll {
    @extend .floating-scroll;
    width: 11px;
    right: 1px;
  }

  .h-floating-scroll {
    @extend .floating-scroll;
    height: 10px;
    bottom: 1px;
  }
}
